*{
    margin:0;
}
/*---------------------------------------NAVBAR---------------------------------*/
nav {
    width: 100%;
    position: fixed;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition:0.3s;
}
.not-scrolled-nav {
    height: 100px;
    background-color: rgba(0,0,0,0);
}
.scrolled-nav {
    height: 70px;
    background-color: rgba(0,0,0,0.9);
}
nav:hover{
    background-color: rgba(0,0,0,1);
}
/*-------------------------------NAV LOGO-------------------*/
.not-scrolled-nav #logo-container {
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    height: 50px;
    width: 215px;
    float: left;
    margin: 25px 0 25px 10%;
}
.scrolled-nav #logo-container {
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    height: 35px;
    width: 215px;
    float: left;
    margin: 17.5px 0 17.5px 10%;
}
/*-------------------------------END NAV LOGO-------------------*/
/*-------------------------------NAV MAIN MENUS-------------------*/
#main-menupoints {
    list-style: none;
    padding: 0;
    height: 100%;
    width: 90%;
    color: rgba(255,255,255,0.6);
}
.main-menupoint {
    float: right;
    margin: 0 10px 0 10px;
    font-size: 14px;
}
.not-scrolled-nav .main-menupoint a {
    line-height: 100px;
    transition: 0.5s;
    cursor: pointer;
}
.scrolled-nav .main-menupoint a {
    line-height: 70px;
    transition: 0.5s;
    cursor: pointer;
}
.main-menupoint:hover a{
    color:rgba(255,255,255,1);
}
#active-menupoint {
    color: white;
    background-color: transparent;
    padding: 20px 5px 20px 5px;
    border-radius: 50px;
    border: 3px solid #ace600;
}
.main-menupoint:hover #active-menupoint{
    color: white;
    background-color: transparent;
    padding: 10% 5px 10% 5px;
    border-radius: 5px;
}
#webshop-menupoint{
    color:white;
    background-color:#ace600;
    padding:10px;
    border-radius:50px;
}
/*-------------------------------END NAV MAIN MENUS-------------------*/
/*-------------------------------NAV AL-MENUS-------------------*/
.main-menupoint:hover .al-menupoints{
    display:block;
}
.al-menupoints {
    list-style: none;
    padding: 0;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,1);
}
.al-menupoint {
    font-size: 13px;
    height:50px;
    overflow:hidden;
    transition:0.5s;
}
.al-menupoint:hover{
    background-color:rgba(255,255,255,0.2);
}
.al-menupoint a{
    display:inline-block;
    margin: 0 15px 0 15px;
    line-height:50px;
}
.al-menupoint:hover .green-align{
    background-color:#ace600;  
}
.green-align{
    position:fixed;
    display:inline-block;
    background-color:transparent;
    width:6px;
    height:50px;
}

/*-------------------------------END NAV AL-MENUS-------------------*/
/*---------------WEBHSOP MENUPOINT--------------------*/
#webshop-menupoint:hover {
    background-color: white;
    color: #ace600;
}
/*---------------END WEBHSOP MENUPOINT--------------------*/
/*---------------------------------------END NAVBAR---------------------------------*/
/*----------------------------------INTRO SECTION-------------------------------*/
#intro-fix-background {
    background: url(../img/intro-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height: 100vh;
    width: 100%;
}
#linear-dark-background {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}
#intro {
    color: white;
    font-family: "Raleway", sans-serif;
}
#intro-title-container {
    padding-top:30vh;
    width:100%;
    text-align:center;
    font-size:34px;
    font-weight:600;
}
.green-text{
    color:#ace600;
}
#intro-text-container {
    margin-top: 10vh;
    width: 100%;
    text-align: center;
    letter-spacing: 0.66048px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
#intro-text-container .intro-quote {
    font-size: 16.5px;
    line-height: 27px;
}
/*----------------------------------END INTRO SECTION-------------------------------*/