*{
    margin:0;
}
/*---------------------------------------NAVBAR---------------------------------*/
nav {
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}
/*-------------------------------NAV LOGO-------------------*/
#logo-container {
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    height:50px;
    width:215px;
    float: left;
    margin: 25px 0 25px 10%;
}
/*-------------------------------END NAV LOGO-------------------*/
/*-------------------------------NAV MAIN MENUS-------------------*/
#main-menupoints {
    list-style: none;
    padding: 0;
    height: 100%;
    width: 90%;
    color: rgba(255,255,255,0.6);
}
.main-menupoint {
    float: right;
    margin: 0 10px 0 10px;
    font-size: 14px;
}
.main-menupoint a{
     line-height:100px;
     transition:0.5s;
     cursor:pointer;
 }
.main-menupoint a:hover{
    color:rgba(255,255,255,1);
}
#webshop-menupoint{
    color:white;
    background-color:#ace600;
    padding:10px;
    border-radius:50px;
}
/*-------------------------------END NAV MAIN MENUS-------------------*/
/*-------------------------------NAV AL-MENUS-------------------*/
.main-menupoint:hover .al-menupoints{
    display:block;
}
.al-menupoints {
    list-style: none;
    padding: 0;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,1);
}
.al-menupoint {
    font-size: 13px;
    height:50px;
    overflow:hidden;
    transition:0.5s;
}
.al-menupoint:hover{
    background-color:rgba(255,255,255,0.2);
}
.al-menupoint a{
    display:inline-block;
    margin: 0 15px 0 15px;
    line-height:50px;
}
.al-menupoint:hover .green-align{
    background-color:#ace600;  
}
.green-align{
    position:fixed;
    display:inline-block;
    background-color:transparent;
    width:10px;
    height:50px;
}

/*-------------------------------END NAV AL-MENUS-------------------*/
/*---------------WEBHSOP MENUPOINT--------------------*/
#webshop-menupoint:hover {
    background-color: white;
    color: #ace600;
}
/*---------------END WEBHSOP MENUPOINT--------------------*/
/*---------------------------------------END NAVBAR---------------------------------*/